# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

server-id=1

port=3306
bind-address=0.0.0.0

# 设置时区
default-time-zone='+08:00'
log_timestamps=SYSTEM

skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

#开启binlog
log-bin=mysql-bin

# binlog缓存
binlog_cache_size=1M

# binlog格式(mixed、statement、row,默认格式是statement)
binlog_format=mixed

# 服务端使用的字符集默认为8比特编码的latin1字符集
character-set-server=utf8mb4
collation-server=utf8_general_ci

# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

#开启查询缓存
explicit_defaults_for_timestamp=true

#是否对sql语句大小写敏感，1表示不敏感
lower_case_table_names=1

init_connect='SET NAMES utf8'

#MySQL默认的wait_timeout
interactive_timeout = 1800
wait_timeout=20000

# 允许最大连接数
max_connections=5000

# 允许连接失败的次数。这是为了防止有人从该主机试图攻击数据库系统
max_connect_errors=100

#Metadata Lock最大时长（秒）
lock_wait_timeout = 3600

#内部内存临时表的最大值
#比如大数据量的group by ,order by时可能用到临时表
#超过了这个值将写入磁盘，系统IO压力增大
tmp_table_size = 64M
max_heap_table_size = 64M

# 设置sql模式 sql_mode模式引起的分组查询出现*this is incompatible with sql_mode=only_full_group_by，这里最好剔除ONLY_FULL_GROUP_BY
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# 指定认证插件
default_authentication_plugin=mysql_native_password

# 禁用符号链接以防止各种安全风险
symbolic-links=0

expire_logs_days=7
max_binlog_size=1024M
log-error = /var/log/mysql/error.log
secure-file-priv= NULL
log-bin-trust-function-creators=1

# 错误日志级别
log-error-verbosity=2

#交互式连接超时时间秒
interactive-timeout=600

max_user_connections=5000

#最大允许数据包
max_allowed_packet=128M
thread_stack=262144

#设置事务隔离级别
transaction-isolation = READ-COMMITTED

[mysql]
#设置mysql客户端默认字符集
default-character-set=utf8mb4

[client]
# 设置mysql客户端默认字符集
default-character-set=utf8mb4
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
