/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/notebook.iml
/.idea/vcs.xml
/.idea/workspace.xml
/examples/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/examples/.gradle/buildOutputCleanup/cache.properties
/examples/.gradle/7.6.4/checksums/checksums.lock
/examples/.gradle/7.6.4/dependencies-accessors/dependencies-accessors.lock
/examples/.gradle/7.6.4/executionHistory/executionHistory.lock
/examples/.gradle/7.6.4/fileHashes/fileHashes.lock
/examples/.gradle/7.6.4/dependencies-accessors/gc.properties
/examples/.gradle/7.6.4/gc.properties
/examples/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/examples/.gradle/7.6.4/fileChanges/last-build.bin
/examples/.gradle/7.6.4/checksums/md5-checksums.bin
/examples/.gradle/7.6.4/checksums/sha1-checksums.bin
